@model List<Dom_zdravlja.Models.Pacijent>

@{
    ViewBag.Title = "Lista pacijenata";
    var admin = Session["User"] as Dom_zdravlja.Models.Administrator;
}


<h2>Administrator @admin.KorisnickoIme</h2>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("KreirajPacijenta", "Administrator")" class="btn btn-primary mb-3">
            Kreiraj novog pacijenta
        </a>
    </div>
</div>


<br />
<h3>Lista svih pacijenata</h3>

<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rođenja</th>
            <th>Email</th>
            <th>JMBG</th>
            <th>Korisničko ime</th>
            <th>Šifra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pacijent in Model)
        {
            <tr>
                <td>@pacijent.Ime</td>
                <td>@pacijent.Prezime</td>
                <td>@pacijent.DatumRodjenja.ToString("dd'/'MM'/'yyyy")</td>
                <td>@pacijent.Email</td>
                <td>@pacijent.JMBG</td>
                <td>@pacijent.KorisnickoIme</td>
                <td>@pacijent.Sifra</td>
            </tr>
        }
    </tbody>
</table>
